:root {
  --main-color: #60B0F4;
}

body {
  background: #00807F;
  font-family: "Source Code Pro", sans-serif;
}

div.center {
  margin: 0 auto;
  margin-top: 4em;
  text-align: center;
  background-color: #eee;
  border: 1px groove #333;
  padding: 16px;
  width: 50%;
  max-width: 400px;
}

.logo {
  margin-bottom: 32px;
}

.logo path {
  fill: var(--main-color);
}

.logo svg {
  filter: drop-shadow(3px 3px 4px rgb(0 0 0 / 0.4));
}