$primary: rgb(255, 217, 0);
$background: #221d1d;

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: monospace;
  color: $primary;
  padding: 8px 30%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

a {
  color: $primary;
}

ul, ol {
  list-style: none;
}

/* CRT */
$ease-out-quint:cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint:cubic-bezier(0.755, 0.050, 0.855, 0.060);
@keyframes flicker{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}
body {
  background:$background;
  position:relative;
  overflow:hidden;

  // flicker
  &::after{
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:transparentize($background,0.92);
    opacity:0;
    z-index:2;
    pointer-events:none;
  }
  // scanlines
  &::before{
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:linear-gradient(transparentize($background,1) 50%, transparentize(darken($background,10),0.75) 50%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
    z-index:2;
    background-size:100% 2px, 1px 100%;
    pointer-events:none;
  }
}